/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  list-style: none;
}

ul {
  list-style: none;
}

/* Header */

.header-container {
  display: flex;
  width: 1440px;
  height: 79px;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-logo {
  padding: 30px 50px;
  gap: 10px;
}

.header-logo img {
  width: auto;
  height: 19px;
}

.header-nav {
  display: flex;
  padding: 0 50px;
  gap: 68px;
  height: 35px;
}

.header-nav-item {
  display: flex;
  height: 100%;
  align-items: end;
  border-top: 2px solid transparent;
}

.header-nav-item:hover,
.header-nav-item:active {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

/* Main */

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

main {
  gap: 35px;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* search bar */

.search-bar {
  display: flex;
  flex-direction: row;
  width: 377px;
  height: 49px;
  gap: 0;
}

.location-icon {
  display: flex;
  min-width: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.location-icon i {
  color: black;
  width: 14px;
  height: 18px;
}

.search-bar input {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 0 10px;
  outline: none;
  border: 1px solid var(--main-bg-color);
}

.search-bar button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 132px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 16px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

/* filter */

.filter {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.filter-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-bar-input {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filter-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.filter-bar-input button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  background-color: white;
  gap: 10px;
  padding: 4px 19px;

  color: black;
  font-size: 17px;
  font-weight: 700;
}

.filter-bar-input button:hover {
  background-color: var(--filter-bg-color);
}

.filter-bar-input button i {
  width: 22px;
  height: 22px;
  align-content: center;
}

.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.info-bar i {
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** hebergements ***********/

.hebergements {
  display: flex;
  flex-direction: column;
  width: 65%;
  box-sizing: border-box;
  gap: 30px;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 4px;
  box-sizing: border-box;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 8px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.more-hebergements {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

/****** Activites ***********/

.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.activites-title {
  display: flex;
  justify-content: space-between;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  box-sizing: border-box;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
  height: 439px;
  padding: 0;
  gap: 0;
}

.activites-cards .card img {
  width: 297.5px;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activites-cards .card h3 {
  padding: 20px 19px;
  margin: 0;
}

/* footer */
footer {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  width: 446px;
  padding: 20px;
  gap: 15px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
